body {
    margin: 0;
    padding: 0;
    background: rgb(37, 37, 37);
    color: white;
}

#container {
    margin-left: 30%;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(11, 179, 151);
    margin-top: 5%;
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr;
}

table {
    border-spacing: 1em 1em;
}

h1 {
    margin-bottom: 10%;
}

tr {
    cursor: pointer;
    border-bottom: 2px solid white;
}

tr:hover {
    background-color: rgb(10, 103, 126);
    color: white;
}

a {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(118, 173, 14);
}

a:hover {
    color: white;
}